/*General Styling*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: rgb(0, 0, 128);
    --secondary-color: #2ecc71;
    --accent-color: #d2d201;
    --background-color: rgb(244, 244, 244);
    --text-color: #333333;
    --font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-size-base: 16px;
}
body {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: white;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
header a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: all 0.5s, color 0.3s;
}
header a:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
    padding: 5px 10px;
    border-radius: 5px;
}
header ul {
    list-style: none;
    display: flex;
    align-items: center;
}
.hamburger {
    display: none;
}
section {
    padding: 60px 20px;
    text-align: center;
}
.hero-button, .about-button, .cta-button {
    background-color: var(--secondary-color);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}
.hero-button:hover, .about-button:hover, .cta-button:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
    transition: all 0.3s ease;
}
h2 {
    color: var(--primary-color);
    margin-bottom: 20px;
}
h3 {
    color: var(--primary-color);
    margin-bottom: 15px;
    text-decoration: underline;
}

/*Hero Section*/
.hero, .about-page-hero, .services-page-hero, .portfolio-hero {
    position: relative;
    top: 0;
    background-image: url("media/background-image.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
}
.hero-content, .about-page-hero-content, .services-page-hero-content, .portfolio-hero-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background-color: rgba(0, 0, 128, 0.7);
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}
.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}
.hero-content p {
    font-size: 1rem;
    margin-bottom: 30px;
    font-style: italic;
}

/*About Section*/
.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
}
.about-content, .about-image {
    text-align: center;
    padding: 20px;
    width: 40%;
}
.about-image img {
    max-width: 400px;
    height: auto;
    margin-left: 20px;
    border-radius: 20px;
}
/*Services Section*/
.services-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--primary-color);
    width: 90%;
    margin: 0 auto;
    padding: 40px 20px;
    border-radius: 10px;
}
.services-section > h2 {
    grid-column: span 3;
    margin-bottom: 20px;
    color: var(--background-color);
}

.service-card {
    min-width: 20%;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    flex: 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.portfolio-items {
    padding: 60px 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.portfolio-section h2 {
    color: var(--primary-color);
    margin-bottom: 20px;
}
.portfolio-item {
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.portfolio-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.portfolio-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
    display: block;
    
}
.portfolio-item p {
    font-weight: bold;
    color: var(--primary-color);
    vertical-align: bottom;
}
.testimonials {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 40px 20px;
    border-radius: 10px;
    margin-top: 40px;
    width: 60%;
    margin: 0 auto;
}
.testimonials h2 {
    margin-bottom: 20px;
    color: var(--background-color);
}
.testimonial-card {
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 30px 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.testimonial-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.testimonial-card h4 {
    margin-top: 15px;
    color: var(--primary-color);
    font-weight: bold;
}
.testimonial-card p {
    font-style: italic;
}

/*About Page*/


/*Footer Styling*/
footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
}
/*Responsive Design*/
@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2rem;
    }
    .hero-content p {
        font-size: 0.9rem;
    }
    header ul {
        display: none;
        flex-direction: column;
        background-color: var(--primary-color);
        position: absolute;
        top: 60px;
        right: 20px;
        width: 150px;
        border-radius: 5px;
    }
    header ul.show {
        display: flex;
    }
    .hamburger {
        display: block;
        cursor: pointer;
        background: none;
        border: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: space-between;
        height: 20px;
        width: 25px;
        margin-right: 20px;
    }
    .hamburger span {
        display: block;
        height: 3px;
        background-color: white;
        border-radius: 2px;
        margin: 4px 0;
    }
    .about-section {
        flex-direction: column;
        text-align: center;
    }
    .about-content, .about-image {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }
    .services-section {
        background-color: var(--primary-color);
        display: flex;
        flex-direction: column;
    }
    .portfolio {
        display: flex;
        flex-direction: column;
    }
    .portfolio-gallery {
        display: flex;
        flex-direction: column;
    }
   .testimonials {
        background-color: var(--primary-color);
        color: var(--background-color);
        padding: 40px 20px;
        border-radius: 10px;
        margin-top: 40px;
        width: 90%;
        margin: 0 auto;
    } 
}